<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582307469799-39inb5552l1m6savlqkun7dvqser7ps8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582307469799-39inb5552l1m6savlqkun7dvqser7ps8</string>
	<key>API_KEY</key>
	<string>AIzaSyALhY-Rb7wB20ulK1zhP8ecTWmLhr3-_5E</string>
	<key>GCM_SENDER_ID</key>
	<string>582307469799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.saurabh.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-97fde</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-97fde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582307469799:ios:4159271ecfa9a76a020542</string>
</dict>
</plist>